.gpt3__header {
  min-height: calc(100vh - 105px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 5rem;
}
.gpt3__header-content h1 {
  font-size: 62px;
  letter-spacing: -0.04em;
  line-height: 75px;
  text-transform: capitalize;
  margin: 2rem 0;
}
.gpt3__header-content h1 + p {
  color: var(--color-text);
  font-size: 20px;
  line-height: 27px;
  margin-top: 1.5rem;
}
.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}
.gpt3__header-content__input input {
  background-color: var(--color-footer);
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  color: #fff;
  border: 0;
  padding: 0rem 1rem;
  border-radius: 5px 0 0 5px;
}
.gpt3__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  padding: 0 1rem;
  background-color: #ff4820;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.gpt3__header-content__people {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 12px;
}
.gpt3__header-image {
  flex: 1;
}
.gpt3__header-image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;
  }
  .gpt3__header-content {
    margin: 0 0 3rem;
  }
}
@media screen and (max-width: 650px) {
  .gpt3__header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .gpt3__header h1 + p {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt3__header-content__people {
    flex-direction: column;
  }
}
@media screen and (max-width: 490px) {
  .gpt3__header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .gpt3__header h1 + p {
    font-size: 14px;
    margin: 0;
  }
  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 12px;
    line-height: 24px;
  }
}
